@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
:root{
    --main-color:#FFF;
    --name-text:#ccd6f6;
    --text:#8892b0;
    --monospace-text:#8dc7b3;
}
body{
    background-color: #3C324D;
}
.history{
    font-family: "Montserrat", sans-serif;
    font-weight: 2000;
    color: var(--main-color);
    padding-left: 10%;
}
.historydiscr{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: var(--main-color);
    margin-right: 10%;
    margin-left: 10%;
    margin-bottom: 3%;
}
#character_img{
    max-width: 20pc;
    padding-left: 40%;
}
.main{
    font-family:"Montserrat", sans-serif;
    color: var(--main-color);
    margin-left: 43%;
}
a{
    text-decoration:none;
    color: var(--main-color);
    font-weight: bolder;
}
